{% extends "base.html" %}

{% block title %} Profile update {% endblock title%}

{% block content %}


<div class="container-fluid px-0 mb-3">
    <img src="/static/images/reg.jpeg" class="d-block w-100" alt="...">
</div>

<div class="container py-4">
    {% if user.is_authenticated %}
      Hello {{user}}
    {% endif %}
    <hr>

    {% if user_form.errors %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            There was some error with your form data
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      
    {% endif %}

    <h1>User profile update</h1>
    <form action="" method="post">

        {% csrf_token %}

        {{ user_form.as_p }}  <!-- form variable captured from the context of render, as_p adds <p> tags to make it lukrative-->
        

        <button type="submit" class="btn btn-primary">Update profile</button>
    </form>

    <a href="{% url 'change-pass' %}" class="btn btn-success">Change password</a>
</div>

{% endblock content %}
