{% extends "base.html" %}

{% block title%} Register user all fields {% endblock title%}

{% block content %}


<div class="container-fluid px-0 mb-3">
    <img src="/static/images/reg.jpeg" class="d-block w-100" alt="...">
</div>

<div class="container py-4">

   

    <div class="shadow p-4 mb-5 bg-body rounded">

        <h1>User Registration</h1>
        <form action="" method="post">
    
            {% csrf_token %}
            
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" id="txtUName" name="txtUName">
            </div>
    
            <div class="mb-3">
                <label class="form-label">First Name</label>
                <input type="text" class="form-control" id="txtFName" name="txtFName">
            </div>
            <div class="mb-3">
                <label class="form-label">Last Name</label>
                <input type="text" class="form-control" id="txtLName" name="txtLName">
            </div>
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control" id="txtEmail" name="txtEmail">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" id="txtPass" name="txtPass">
            </div>
            <div class="mb-3">
                <label class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="txtConfPass" name="txtConfPass">
            </div>
    
            <button type="submit" class="btn btn-primary">Sign up + verify</button>
        </form>
</div>
</div>

{% endblock content %}
