{% extends "base.html" %}

{% block title%} Login {% endblock title%}

{% block content %}

<div class="container-fluid px-0 mb-3">
  <img src="/static/images/reg.jpeg" class="d-block w-100" alt="...">
</div>

<div class="container py-4">
  {% comment %} <div class="d-flex align-items-center py-4 bg-body-tertiary"> {% endcomment %}

    <main class="form-signin w-100 m-auto">
      <form method="POST" action="">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="mb-3">
          <label for="Username" class="form-label">Username</label>
          <input type="text" class="form-control" id="txtUName" name="txtUName">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="Password1" class="form-label">Password</label>
          <input type="password" class="form-control" id="txtPass" name="txtPass" placeholder="Password">
        </div>
        <div class="mb-3 form-check">
          <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1" value="remember-me" id="flexCheckDefault">
          <label class="form-check-label" for="exampleCheck1">Remember me</label> -->
          Click here if you <a href='{% url 'reset_password' %}'>forgot your password</a>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>

      <!--
            <div class="form-check text-start my-3">
              <label class="form-check-label" for="flexCheckDefault">
                Register <a href="/restroapp/signup">here.
              </label>
            </div>-->
    </main>
  {% comment %} </div> {% endcomment %}
</div>

{% endblock content %}